In [22]:
#importamos las librerías a utilizar
import xml.etree.ElementTree as Xet
import pandas as pd

In [23]:
#creamos dos listas columnas y filas a utilizar
cols = ["Año", "Número_de_Subasta", "Tipo_de_Instrumento", "Clave_de_Emisión", "Plazo", "Fecha_de_Subasta", "Fecha_de_Colocacion",
       "Fecha_de_Vencimiento", "Sobretasa_Ponderada", "Precio_Ponderado", "Monto_Convocado", "Monto_Solicitado", "Monto_Colocado"]
rows = []

In [24]:
#leemos el archivo XML y mediante un for descomponemos la información
xmlparse = Xet.parse('Data.xml')
root = xmlparse.getroot()
for i in root:
    Año = i.find("Año").text
    Número_de_Subasta = i.find("Número_de_Subasta").text
    Tipo_de_Instrumento = i.find("Tipo_de_Instrumento").text
    Clave_de_Emisión= i.find("Clave_de_Emisión").text
    Plazo = i.find("Plazo").text
    Fecha_de_Subasta = i.find("Fecha_de_Subasta").text
    Fecha_de_Vencimiento = i.find("Fecha_de_Vencimiento").text
    Sobretasa_Ponderada = i.find("Sobretasa_Ponderada").text
    Precio_Ponderado = i.find("Precio_Ponderado").text
    Monto_Convocado = i.find("Monto_Convocado").text
    Monto_Solicitado = i.find("Monto_Solicitado").text
    Monto_Colocado = i.find("Monto_Colocado").text
    rows.append({"Año": Año,
                 "Número_de_Subasta": Número_de_Subasta,
                 "Tipo_de_Instrumento": Tipo_de_Instrumento,
                 "Clave_de_Emisión": Clave_de_Emisión,
                 "Plazo": Plazo,
                 "Fecha_de_Subasta": Fecha_de_Subasta,
                 "Fecha_de_Vencimiento": Fecha_de_Vencimiento,
                 "Sobretasa_Ponderada": Sobretasa_Ponderada,
                 "Precio_Ponderado": Precio_Ponderado,
                 "Monto_Convocado": Monto_Convocado,
                 "Monto_Solicitado": Monto_Solicitado,
                 "Monto_Colocado": Monto_Colocado           
                 })

In [25]:
#creamos el data frame desde las listas que creamos y ya les agregamos la data
df = pd.DataFrame(rows, columns=cols)

In [26]:
#visualizamos la información en el data frame creado
df.head()

,Año,Número_de_Subasta,Tipo_de_Instrumento,Clave_de_Emisión,Plazo,Fecha_de_Subasta,Fecha_de_Colocacion,Fecha_de_Vencimiento,Sobretasa_Ponderada,Precio_Ponderado,Monto_Convocado,Monto_Solicitado,Monto_Colocado
0,2000,1,BPA,IP030227,1092,2000-03-01,NaN,2003-02-27,0.5800,98.61368,1000.0000,10348.0000,1000.0000
1,2000,2,BPA,IP030227,1085,2000-03-08,NaN,2003-02-27,0.5000,98.82962,1500.0000,7160.0000,1500.0000
2,2000,3,BPA,IP030227,1078,2000-03-15,NaN,2003-02-27,0.5100,98.82785,1500.0000,3900.0000,1500.0000
3,2000,4,BPA,IP030320,1092,2000-03-22,NaN,2003-03-20,0.4900,98.79840,1500.0000,5320.0000,1500.0000
4,2000,5,BPA,IP030320,1085,2000-03-29,NaN,2003-03-20,0.5400,98.69485,2000.0000,1960.0000,1960.0000

In [27]:
# creamos el dataframe a csv
df.to_csv('data_xml.csv')